<!DOCTYPE html>
<html lang="en">
<head>
    {% block setup %}
        <title>{% block title %} Spo2fi - Queue with friends {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block header %}
        <div class="container">
            {% with errors = get_flashed_messages(category_filter=['error']) %}
            {% if errors %}
                <br>
                {% for error in errors %}
                    <div class="alert alert-warning"> {{ error }} </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <br>
            <div class="row">
                <div class="col-12 d-flex justify-content-between mb-3">
                    <div class="d-inline-block">
                        <h3 class="mb-0">{{ owner.display_name }}</h3>
                        {% if isOwner %} <span class="badge badge-warning mt-0">Party Owner</span> {% endif %}
                    </div>
                        <h3 class="d-inline-block">
                            {% if joinId is defined %}<span class="badge badge-info">Code: {{ joinId }}</span>{% endif %}
                        </h3>
                </div>
            </div>

            {% if owner.currently_playing().is_playing == True %}
                {% set currentTrack = owner.currently_playing().item %}
                <div class="row">
                    <div class="col-auto">
                        <img src="{{ currentTrack.album.images[0].url}}" alt="img" width="90" height="90">

                    </div>
                    <div class="col-6 align-self-center">
                        <span class="text-center">{{ currentTrack.name }} </span>
                        <div class="w-100"></div>
                        <span class="text-muted font-weight-light text-center">{{ currentTrack.artists[0].name }}</span>
                    </div>
                    {% if isOwner %}
                        <div class="col-auto">
                            <a class="btn btn-primary" href="/prev"><span class="fa fa-chevron-left"></span></a>
                            <a class="btn btn-primary" href="/next"><span class="fa fa-chevron-right"></span></a>
                        </div>
                        {% endif %}
                </div>

                {% set songProgress =  owner.currently_playing().progress_ms / currentTrack.duration * 100 %}
                <p>Duration:
                    <span id="songSecondsPassed"> {{ owner.currently_playing().progress_ms // 1000 }}</span>
                    /
                    <span id="songTotalSeconds"> {{ currentTrack.duration // 1000 }}</span>
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ songProgress }}%"
                         aria-valuenow="{{ songProgress }}" id="songProgress"
                         aria-valuemin="0"
                         aria-valuemax="100">
                    </div>
                </div>
                <br>
            {% else %}
                not currently playing
            {% endif %}
        </div>
    {% endblock %}
</head>

<body>
<div class="container"> {% block content %} {% endblock %} </div>
{% block footer %}
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-search-pseudo-elements></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            console.log("ready");
                window.setInterval(moveProgressBar, 1000);
            }
        );

        function moveProgressBar() {
            let bar = $('#songProgress');
            let secondsPassed = $('#songSecondsPassed');
            let totalSeconds = $('#songTotalSeconds').text();
            let num = parseInt(secondsPassed.text()) + 1;
            secondsPassed.text(num);

            if (num > totalSeconds) {
                location.reload(true);
                return
            }
            bar.css('width', num/totalSeconds*100 + '%').attr('aria-valuenow', num/totalSeconds*100)
        }

    </script>
{% endblock %}
</body>
</html>