<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <div class="container">
    <h1>{{ user.display_name }}</h1>
    <h3> Currently Playing:</h3>

    {% if user.currently_playing().is_playing == True %}
        {% set currentTrack = user.currently_playing().item %}
        <img src="{{ currentTrack.album.images[0].url }}" height="90" width="90" alt="track img">
        <p>{{ currentTrack.name }} - {{ currentTrack.artists[0].name }}</p>

        {% set songProgress =  user.currently_playing().progress_ms / currentTrack.duration * 100 %}
        <p>Duration: {{ user.currently_playing().progress_ms // 1000 }} / {{ currentTrack.duration // 1000 }}</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ songProgress }}%" aria-valuenow="{{ songProgress }}" aria-valuemin="0"
                 aria-valuemax="100">
            </div>
        </div>
        <br>
        <a class="btn btn-primary" href="/newSession">New session</a>
    {% else %}
        not playing
    {% endif %}

    <form action="/search" method="get">
        <label for="query">Search: </label>
        <input id="query" name="query" placeholder="search">
        <button type="submit" class="btn btn-success">Go</button>
    </form>

    </div>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">

</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>