{% extends "base.html" %}
{% block title %} Spo2fi - Queue with friends {% endblock %}
{% block content %}

    <div class="col-lg-12">
        <a class="btn btn-primary" href="/newSession">New session</a>
    </div>
    <br>
    <div class="col-lg-12">
        <form action="/join" method="get">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Code: </span>
                </div>
                <input type="text" name="joinId" id="joinId" aria-label="joinId" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-success"><span class="fa fa-user-plus"></span></button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}