{% extends "base.html" %}
{% block title %} Spo2fi - Queue with friends {% endblock %}
{% block content %}
    <form action="/search" method="get">
        <div class="input-group">
            <input type="text" class="form-control" id="query" name="query" placeholder="search"
            aria-label="Search" aria-describedby="search" autocomplete="off">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form>
    <br>
    <h5>Tracks: </h5>
    <ul class="list-group">
        {% for track in tracks %}
        <li class="list-group-item bg-light">
            <form method="get" action="/add">
            <input name="trackId" id="trackId" value="{{ track.id }}" type="hidden">
                <div class="d-flex justify-content-between bg-light align-items-center">
                    <img src="{{ track.album.images[0].url}}" alt="img" width="90" height="90">
                    <span>{{ track.name }} - {{ track.artists[0].name }} </span>
                    <button type="submit" class="btn btn-primary btn-lg"><span class="fa fa-plus"></span></button>
                </div>
            </form>
        </li>
        {% endfor %}
    </ul>


{% endblock %}