{% extends "base.html" %}
{% block title %} Spo2fi - Queue with friends {% endblock %}
{% block content %}
    <form action="/search" method="get">
        <div class="input-group">
            <input type="text" class="form-control" id="query" name="query" placeholder="search"
                   aria-label="Search" aria-describedby="search" autocomplete="off">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success"><span class="fa fa-search"></span></button>
            </div>
        </div>
    </form>
    <br>
    <h5>Tracks: </h5>
    <ul class="list-group">
        {% for track in tracks %}
            <li class="list-group-item bg-light">
                <form method="get" action="/add">
                    <input name="trackId" id="trackId" value="{{ track.id }}" type="hidden">
                    <div class="d-flex align-content-center p-0">
                        <div class="col-3 d-inline-block p-0">
                            <img src="{{ track.album.images[0].url }}" alt="img" width="50" height="50">
                        </div>
                        <div class="col-6 align-self-center flex-grow-1 d-inline-block text-truncate">
                            <span class="text-center">{{ track.name }} </span>
                            <div class="w-100"></div>
                            <span class="text-muted font-weight-light">{{ track.artists[0].name }}</span>
                        </div>
                        <div class="col-3 align-self-center">
                            <button type="submit" class="btn btn-outline-primary d-inline-block border-0"><span
                                    class="fa fa-plus"></span></button>
                        </div>
                    </div>
                </form>
            </li>
        {% endfor %}
    </ul>
    <br>
    <br>


{% endblock %}